.container{
    background-color: white;
    height: 800px;
    padding-top: 50px;
}

/* .second-div{
    margin-top: 25px;
} */

.nest-div{
    display: flex;
    margin-left: 20px;
    padding-top: 50px;
}

.boox{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    background-color:#c27b7f;
    /* z-index: 1; */
}

.box-wrapper{
    margin-left: 80px;
}
.box-wrapper-second{
    margin-left: 40px;
}
.boxx{
    width: 250px;
    height: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 50px;
    
}


.boxx:hover{
    background-color: #c27b7f;
}

.box .class:hover{
    color: white;
}


/* .image-container{
    height: 50px;
    width: 50px;
}
.
.imagee{
  width: 100%;
  height: 100%;
} */